%% -*- erlang -*-

{erl_opts, [debug_info ]}.

{deps,
 [
  {jsx, "", {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}},
  {cowboy, "", {git, "https://github.com/ninenines/cowboy", {tag, "1.0.1"}}},
  {ranch, "", {git, "https://github.com/ninenines/ranch", {tag, "1.1.0" }}},
  {msgpack, "", {git, "https://github.com/msgpack/msgpack-erlang", {tag, "0.3.3"}}},
  {pbkdf2, "", {git, "https://github.com/whitelynx/erlang-pbkdf2", {branch, "master"}}}
 ]
}.
